# === Database configuration ===
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_USER="kimheng"
POSTGRES_PASSWORD="heng260205"
POSTGRES_DB="mydb"

# === Application Port ===
PORT=3000

# === API Key for Authentication ===
API_KEY="itc-123"

# cmd cli for testing API key authentication
# curl -H "x-api-key: YOUR_API_KEY" http://localhost:3000/api/data