VITE_HASURA_HTTP=https://todos-hasura-tp05.hasura.app/v1/graphql
VITE_HASURA_WS=wss://todos-hasura-tp05.hasura.app/v1/graphql
VITE_HASURA_ROLE=anonymous
VITE_HASURA_SECRET=j1f98nx0Z04rlYorTkC3bmbopxK6uj4JLvjFlilz5tjp3jjRbXuxW7vHDDFf1urG